* {
  
   max-height: 500px;
    
}

.navLogo {
    height: 0px;
    width: 0px;
}


img.navLogo {
    margin: 15px 0 0 15px;
    height: 36px;
    width: 36px;
    image-resolution: 900dpi;
    object-fit: cover;
    transform: scale(1.45);
    border-radius: 50%;
    box-shadow: 0 2px 2px grey;
}
li {
    display: inline-block;
    margin-right: 50px;
    text-align: center;
    float: right;
    font-weight: bolder;

}
.navBarLink {
    margin: 0px 50px 1px 0px;
   padding: 10px 10px 10px 10px;
    color: #ad4836;
    text-decoration: none;
    font-size: 15px;
  
}

.navBar {
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 65px;
    overflow: hidden;
    background-color: white;
    font-family: 'Neonderthaw', cursive;
font-family: 'Overpass', sans-serif;
font-family: 'Thasadith', sans-serif;

}

.navBar a:hover {
background-color:#f1906f;
border-radius: 50%;
box-shadow: 0 5px 15px #352208;
opacity: 0.9;
color: white;

}

.mainHeaderSection {
    background-image:linear-gradient(#9c7e59,#e1bb80,#9c7e59); 
    height: 500px;
    width: 100%;
   display: inline-block;
   margin: 20px 0 0 0;

    
}

.wrapper{
    background-color: #f5f5f5;
    font-family: 'Thasadith', sans-serif; 
    margin: 100px auto;
    padding: 40px 40px 0px 200px;
    position: relative;
    width: 70%;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: white;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    margin: 200px 0px 0px 720px;
    font-family: 'Thasadith', sans-serif; 
    font-size: 250%;
    font-weight: bold;
   
    
}

.slidingVertical span:nth-child(2){
	animation-delay: 3s;
	-ms-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 6s;
	-ms-animation-delay: 6s;
	-webkit-animation-delay: 6s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 9s;
	-ms-animation-delay: 9s;
	-webkit-animation-delay: 9s;
}


/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}




.mainHeader {
    display: flex;
     height: 0px;
     width: 0px;
     margin: 50px 0px 0px 0px;

   
}
.mainHeader img {
    float: left;
    display: flex;
    height: 300px;
    width: 300px;
    border: 1px;
    margin: 0px 0px 100px 225px;
    position: absolute;
    left: 200px;
    top: 200px;
    background-image:#e8c9ab; 
}


.mainIntro {
    height: 50px;
    width: 100px;

}
h2 {
    display: inline;
    text-align: center;
    font-weight: bolder;
    font-size: 350%;
margin: 20px 10px 0 10px;
    color: black;
    font-family: 'Overpass', sans-serif;
font-family: 'Thasadith', sans-serif;
text-decoration: underline #ad4836;
width: 60px;
height: 100px;

  }

  .aboutMe {
      float: center;
      text-align: center;
      padding: 40px 0 50px 0;
     
     
      
  }


 .Heading1 {
     display: inline;
     padding: 0;
     margin: 0;
     height: 20px;
 }

  p {
      font-family: 'serif', Georgia;
      color: black;
      margin-bottom: 40px;
      display: block;
      text-align: center;
      margin: 40px 400px 100px 400px;
      
  }

  .FacebookBT, .LinkedInBT, .GitBT {
     width: 55px;
     height: 40px;
     border:rgba(112, 137, 153, 0.301);
     opacity: 0.8;
     margin: 0 0 5px 0;
    
  }
  
  .FacebookBT:hover, .LinkedInBT:hover, .GitBT:hover {
    box-shadow: 0 0px 5px 0 #3e9bfd, 0 0px 5px 0 #3e9bfd;

}

a:hover{
    box-shadow: 0 0px 5px 0 #436b95;
    border: none;
}

.Skills {
height: 50px;
width: 50px;
margin: 0 0 0 370px;
}
  .footer {
    margin: 0 0 0 0;
    text-align: center;
    width: 0%;
    position: sticky;
    bottom: 0;
    height: 40px;
    display: inline-flexbox;
    
  }