h1 {
text-align: center;
    font-family: monospace;
    color: darkgrey;
    padding-right: 400px;
    padding-top: 50px;
    
}
h2 {
    font-weight: 200;
    font-style: oblique;
}
.main {
    padding-left: 500px;
    align-content: center;
    text-align: justify;
}

img {
    border-radius: 50%;
}
nav{
    grid-area: inherit;
    padding-inline-end: 615px;
    padding-top: 15px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.781);
}
li {

    float: right;
}

li a {
    display: block;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration:solid;
}

li a:hover {
    text-decoration: underline #fde19af5;
}